<% if resource.errors.present? %>
  <% resource.errors.full_messages.each do |message| %>
    $('.answer-errors').html('<%= j message %>');
  <% end %>
<% else %>
  <% publish_to "/questions/#{parent.id}/answers" do %>
     $('.answers').html('<%= j render 'questions/answers', question: parent %>');               
  <% end %>
  $('.new_answer #answer_body').val('');
  
  $('body > .container').prepend('<div class="alert alert-success alert-dismissable"><button class="close" data-dismiss="alert" name="button" type="button">×</button>Вы успешно создали ответ.</div>')
  

<% end %>


